<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记事本</title>
    <link rel="stylesheet" href="./css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

</header>
<section id="app">
    <header class="header">
        <h1>小黑记事本</h1>
        <input @keyup.enter="add" v-model="todoName" placeholder="请输入任务" class="new-todo">
        <button @click="add" class="add">添加任务</button>
    </header>

    <!-- 主題区域 -->
    <section class="main">
        <ul class="todo-list">
            <li class="todo" v-for="(item,index) in list" :key="item.id">
                <div class="view">
                    <span class="index">{{index+1}}.</span> <label>{{item.name}}</label>
                    <button @click="del(item.id)" class="destroy"></button>
                </div>
            </li>
            <!-- <li class="todo">
                <div class="view">
                    <span class="index">1.</span> <label>跑步锻炼20分钟</label>
                    <button class="destroy"></button>
                </div>
            </li> -->
        </ul>
        </section>
        <!-- 统计和清空 -->
        <footer class="footer" v-show="list.length > 0">
        <!-- 统计 -->
        <span class="todo-count">合计：<strong> {{list.length}} </strong></span>
        <!-- 清空 -->
        <button @click="clear" class="clear-completed">
        清空任务
        </button>
    </footer>
</section>
<body>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                todoName:'',
                list:[
                    {id:1,name:'跑步'},
                    {id:2,name:'跳绳'},
                    {id:3,name:'游泳'}
                ]
            },
            methods: {
                del(id){
                    this.list = this.list.filter(item => item.id !== id)
                },
                add(){
                    if(this.todoName.trim() === ''){
                        alert("不能输入空内容")
                        return
                    }
                    this.list.unshift({
                        id:+new Date(),
                        name:this.todoName
                    })
                    this.todoName=''
                },
                clear(){
                    this.list = []
                }
            },
        })
    </script>


</body>
</html>